@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<h1>To do list</h1>

<button type="button" class="btn btn-primary" @onclick="OpenModal">Add todo</button>


<div class="d-flex">
    <div class="list d-flex p-2 flex-column">
        <h2>Todo (@items.Count(todo => !todo.IsDone))</h2>

        @foreach (IToDoItem item in items.Where(item => !item.IsDone))
        {
            <ToDoItemComponent Item="item" @key="item" OnCheck="@ToDoChecked"/>
        }
    </div>


    <div class="list-completed d-flex p-2 flex-column">
        <h2>Completed (@completedItems.Count())</h2>

        @foreach (IToDoItem completedItem in completedItems)
        {
            <ToDoItemComponent Item="completedItem" @key="completedItem" OnCheck="@ToDoChecked"/>
        }
    </div>

</div>


<Modal Title="Are you sure?" OnClose="ModalClose" IsOpen="isModalOpen">
    <ModalBody>
        <EditForm EditContext="editContext" id="ToDoForm" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>

            <div class="form-group">
                <label for="title">Title:</label>
                <InputText id="title" @bind-Value="@TodoItemModel.Title"/>
                <ValidationMessage For="@(() => TodoItemModel.Title)"/>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <InputText id="description" @bind-Value="@TodoItemModel.Description"/>
                <ValidationMessage For="@(() => TodoItemModel.Description)"/>
            </div>
        </EditForm>
    </ModalBody>
    <ModalFooter>
        <button type="submit" form="ToDoForm">Submit</button>
        <button @onclick="ModalClose">Cancel</button>
    </ModalFooter>
</Modal>